flows.json
[{"id":"7cf47964.559bf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f3a03f96.c2b52","type":"ui_text","z":"7cf47964.559bf8","group":"a5de1ec1.e7952","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1010,"y":240,"wires":[]},{"id":"4483aa1f.8076c4","type":"function","z":"7cf47964.559bf8","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":240,"wires":[["68ef05af.702e9c"]]},{"id":"68ef05af.702e9c","type":"watson-conversation-v1","z":"7cf47964.559bf8","name":"","workspaceid":"acc58ce7-0518-443a-8137-e09681c54e9d","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/58a6da66-39d1-4dfe-a566-533765e9650e","timeout":"","optout-learning":false,"x":620,"y":240,"wires":[["40fff498.5b08fc","72649867.e70158"]]},{"id":"f7c88eed.86881","type":"ui_form","z":"7cf47964.559bf8","name":"","label":"SMART CHAT BOT","group":"15ff3302.2ce99d","order":2,"width":0,"height":0,"options":[{"label":"Enter youtr text:","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":250,"y":240,"wires":[["4483aa1f.8076c4"]]},{"id":"40fff498.5b08fc","type":"debug","z":"7cf47964.559bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"72649867.e70158","type":"function","z":"7cf47964.559bf8","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\")\n{\n    msg.url=msg.payload.output.generic[0].source\n    msg.payload=msg.payload.output.generic[0].title\n}\nelse\n{\n    msg.payload=msg.payload.output.generic[0].text\n    msg.url=\"https://image.shutterstock.com/image-vector/welcome-poster-spectrum-brush-strokes-600w-1146069941.jpg\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":340,"wires":[["f3a03f96.c2b52","9759a26.8a4386","34f7ef8a.ab212"]]},{"id":"9759a26.8a4386","type":"ui_template","z":"7cf47964.559bf8","group":"15ff3302.2ce99d","name":"","order":0,"width":"13","height":"6","format":"<img ng-src={{msg.url}} alt=\"IMAGE\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1020,"y":360,"wires":[[]]},{"id":"34f7ef8a.ab212","type":"ui_audio","z":"7cf47964.559bf8","name":"","group":"a5de1ec1.e7952","voice":"en-GB","always":true,"x":1020,"y":460,"wires":[]},{"id":"a5de1ec1.e7952","type":"ui_group","z":"","name":"Group2","tab":"779fa2c8.d73a5c","order":2,"disp":false,"width":"22","collapse":false},{"id":"15ff3302.2ce99d","type":"ui_group","z":"","name":"Group1","tab":"779fa2c8.d73a5c","order":1,"disp":false,"width":"14","collapse":false},{"id":"779fa2c8.d73a5c","type":"ui_tab","z":"","name":"DASHBOARD","icon":"dashboard","disabled":false,"hidden":false}]